
.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;
    margin-top: -60px;
  }
  
  .parent {
    position: relative;
  }
  
  .signuptxt {
    position: absolute;
    top: 21px;
    left: 76px;
    font-size: 17px;
    font-family: "HK Grotesk Medium";
    width: 56px;
  }
  
  .signuptxt2 {
    position: absolute;
    top: 43px;
    left: 39px;
    font-size: 17px;
    font-family: "HK Grotesk Medium";
    width: 140px;
  }
  
  .signup-line {
    border-top: 1px solid black;
    position: relative;
    top: 70px;
    left: 1%;
    width: 101%;
    height: 1px;
  }
  
  .form-container {
    display: flex;
    width: 98%;
    height: 90%;
    margin-top: -1%;
    margin-left: -96%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  input.firstname-text[type="text"] {
    width: 38%;
    padding: 12px;
    margin: 11px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: -38px;
    left: -22%;
    background-color: #d8d8d8;
  }
  
  input.surname-text[type="text"] {
    width: 38%;
    padding: 12px;
    margin: 11px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: -114px;
    right: -28%;
    background-color: #d8d8d8;
  }
  
  input[type="email"] {
    width: 88%;
    padding: 12px;
    margin: 13px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    background-color: #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: -130px;
    right: -3%;
  }
  
  input.password-text[type="password"] {
    width: 88%;
    padding: 12px;
    margin: 6px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    background-color: #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: -143px;
    right: -3%;
  }
  
  input[type="date"] {
    width: 38%;
    padding: 12px;
    margin: 6px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    background-color: #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    left: -22%;
    top: -142px;
  }
  
  select[type="gender"] {
    width: 41%;
    padding: 12px;
    margin: 6px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: -209px;
    right: -28%;
    background-color: #d8d8d8;
  }
  
  label[for="are-you-student-or-counsellor"] {
    font-family: "HK Grotesk Medium";
    font-size: 14px;
    position: relative;
    top: -200px;
    right: 29%;
  }
  
  label[for="counsellor-option"] {
    width: 38%;
    padding: 12px;
    font-family: "HK Grotesk Medium";
    margin: 6px 0;
    font-size: 16px;
    border: 2px solid #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: 60px;
    right: 52%;
    background-color: #d8d8d8;
  }
  
  label[for="student-option"] {
    width: 38%;
    padding: 12px;
    margin: 19px 0;
    font-family: "HK Grotesk Medium";
    font-size: 16px;
    border: 2px solid #d8d8d8;
    border-radius: 25px;
    outline: none;
    position: relative;
    top: 280px;
    right: 102%;
    background-color: #d8d8d8;
  }
  
  button.submit-button[type="submit"] {
    width: 69%;
    padding: 16px;
    margin: 7px 0;
    position: relative;
    top: -80px;
    left: -76%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }
  
  button.submit-button[type="submit"]:hover {
    background-color: #12229d;
  }
  
  .errorMsg {
    color: red;
    font-size: 16px;
    margin-top: -10px;
    margin-left: -100px;
  }
  
  input.inputField {
    border-color: red;
  }
  
  .errorShow {
    width: 80%;
    margin-top: -50px;
    margin-bottom: 20px;
    height: 40px;
  }
  
  .errorShow p {
    color: red;
    text-align: center;
    font-size: 16px;
    padding-top: -25px;
  }
  
  input.firstname-text.inputField {
    border-color: red;
  }
  
  input.surname-text.inputField {
    border-color: red;
  }
  input.password-text.inputField {
    border-color: red;
  }
  input.dob.inputField {
    border-color: red;
  }
  
  select.inputField {
    border-color: red;
  }
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  