.blog-read-page_container{
    width: 100%;
 
    background: linear-gradient(135deg, #4375ff, #80ccff);
   padding: 50px 20px;
}
#dark .blog-read-page_container{
  background: linear-gradient(to right, rgba(37, 37, 37, 0.5), rgba(22, 21, 21, 0.5));
}
  .blog-read-page {
    max-width: 800px;
    margin: 0px auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  #dark .blog-read-page{
    background-color: #2d2d2d;
  }
  .blog-header {
    margin-bottom: 20px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.222);
  }
  
  .blog-title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .blog-meta {
    display: flex;
    align-items: center;
  }
  .blog-read-page_container .blog-tags{
    text-align: left;
  }
  .author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .meta-info {
    display: flex;
    flex-direction: column;
  }
  
  .author-name {
    font-size: 1.2em;
    font-weight: 500;
  }
  
  .blog-date {
    font-size: 0.9em;
    color: #777777;
    text-align: justify;
  }
  
  .blog-content {
    line-height: 1.6;
  }
  #dark .blog-content *{
    color: white;
  }
  .Edit_icon{
    text-align: end;
  }
  #dark .Edit_icon{
    color: white;
  }
  
  .blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .blog-content p {
    margin-bottom: 1em;
  }
  