/* Default Styles (Desktop View) */
.story {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 2rem;
    padding-left: 9rem;
    font-size: 1.6rem;
    transform: skewX(-12deg);
}

#dark .story {
    background-color: #2e2e2e;
    color: white;
}

.story__shape {
    width: 12rem;
    height: 13rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
}

.story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
}

.story__text {
    transform: skewX(12deg);
}

.story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden;
}

.story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 5rem;
}

@media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .row {
        max-width: 50rem;
        padding: 0 3rem;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
        width: 100% !important;
    }
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
    width: calc((100% - 12rem) / 3);
}

.row .col-2-of-3 {
    width: calc(2 * (100% - 12rem) / 3 + 6rem);
}

.row .col-1-of-4 {
    width: calc((100% - 18rem) / 4);
}

.row .col-2-of-4 {
    width: calc(2 * (100% - 18rem) / 4 + 6rem);
}

.row .col-3-of-4 {
    width: calc(3 * (100% - 18rem) / 4 + 12rem);
}

.section-stories {
    position: relative;
    padding: 15rem 0;
}

#join1 {
    margin-top: -280px;
}

#join1 .story__text p {
    font-size: 1.7rem;
}

#join2 .story__text p {
    font-size: 1.8rem;
}

/* Mobile Styles */
@media only screen and (max-width: 56.25em) {
    .story {
        padding: 2rem 2rem;
        padding-left: 2rem;
        font-size: 1.4rem;
        transform: skewX(0);
    }

    .story__shape {
        width: 8rem;
        height: 8rem;
        transform: translateX(0) skewX(0);
    }

    .story__img {
        height: 100%;
        transform: translateX(0) scale(1);
    }

    .story__text {
        transform: skewX(0);
        margin-top: 1rem;
    }

    .story__caption {
        font-size: 1.2rem;
    }

    .row {
        max-width: 100%;
        padding: 0 2rem;
    }

    .section-stories {
        padding: 5rem 0;
    }

    #join1,
    #join2 {
        margin-top: 0;
    }

    #join1 .story__text p,
    #join2 .story__text p {
        font-size: 1.4rem;
    }
    #join1{
    margin-top: -170px;
    }
    #join2{
    margin-bottom: 30px;
}