/* Profile Card Container */
.profile-card-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  min-height: 60vh;
}

/* Avatar Options */
.avatar-options {
  display: flex;
  gap: 10px;
}

.avatar-option {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 5px;
}

.avatar-selection h3 {
  font-size: 15px;
  margin-top: 10px;
}

.avatar-option img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.avatar-option.selected {
  border-color: #007bff; /* Change border color when selected */
}

/* Greeting Section */
.greeting {
  background-color: #28a745;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.greeting h1 {
  font-size: 25px;
}

.greeting p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
.upload-button {
  display: inline-block;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.upload-button:hover {
  background-color: #e0e0e0;
}

.about-info button {
  margin-right: 10px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.about-info button:hover {
  background-color: #e0e0e0;
}

/* Profile Card Content */
.profile-card-content {
  width: calc(100% - 320px);
  text-align: left;
  padding-left: 10px;
}

.profile-card img {
  width: 100px;
  border-radius: 100%;
}

/* Upcoming Events */
.upcoming-events {
  text-align: left;
  width: 100%;
  height: 100%;
}

.upcoming-events h2 {
  margin-top: 0;
  font-size: 19px;
  margin-bottom: 5px;
}

.calendar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.calendar-date {
  position: relative;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  width: 50px;
  font-weight: 700;
}

.calendar-date span {
  display: block;
}

.calendar-date.active {
  position: relative;
  background-color: #000000;
  color: white;
}

.calendar-date.active::after {
  content: "";
  position: absolute;
  top: 10%;
  right: 10%;
  width: 5px;
  height: 5px;
  background: rgb(64, 255, 64);
  border-radius: 50%;
}

.next-event {
  margin: 0;
  font-size: 14px;
}

/* Profile Details */
.profile-card-content .profile-details {
  margin: 20px 0;
}

.profile-card-content .profile-details h2 {
  font-size: 20px;
}

.profile-card-content .profile-details p {
  font-size: 14px;
  margin: 5px 0;
}

.profile-card-content .profile-details .about-info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.profile-card-content .profile-details .about-info h3 {
  font-size: 13px;
}

.profile-card-content .profile-details .about-info p {
  font-size: 14px;
}

/* Profile Summary */
.profile-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  position: absolute;
  top: 50px;
  right: 5%;
}

.profile-card {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.profile-card .bxs-edit {
  position: absolute;
  font-size: 25px;
  right: 7%;
  cursor: pointer;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5px solid lightblue;
}

.profile-card h3 {
  margin: 10px 0 5px 0;
  font-size: 22px;
  color: #333;
}

.profile-card .title {
  margin: 5px 0;
  font-size: 16px;
  color: #666;
}

.profile-card .role {
  margin: 5px 0 15px 0;
  font-size: 16px;
  color: #007bff;
}

/* Skills Section */
.skills-section {
  border-top: 0.5px solid rgba(21, 21, 21, 0.555);
  text-align: left;
  margin-top: 10px;
}

.skills-section h2 {
  margin-top: 5px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.skills-section ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-section li {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 10px;
  color: #333;
}

/* Save button styles */
.edit-modal-content button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.edit-modal-content button:hover {
  background-color: #218838;
}

/* Modal styles */
.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 522px;
  text-align: left;
}

.edit-modal-content h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.edit-modal-content label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.edit-modal-content input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.avatar-selection {
  margin-top: 10px;
}

.skills-selection {
  margin-top: 10px;
}

.skills-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-option {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.skill-option.selected {
  background-color: #007bff;
  color: white;
}

/* Responsive Design */
@media screen and (max-width: 650px) {
  .profile-summary {
    width: 60%;
    position: absolute;
    top: 150px;
    right: 50%;
    transform: translateX(50%);
  }

  .profile-card {
    width: 100%;
  }

  .profile-card-content {
    width: 100%;
    margin-top: 350px;
  }
}

@media screen and (max-width: 450px) {
  .profile-summary {
    width: 80%;
    position: absolute;
    top: 170px;
    right: 50%;
    transform: translateX(50%);
  }

  .profile-card {
    width: 100%;
  }

  .profile-card-content {
    width: 100%;
    margin-top: 350px;
  }
}
