.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #333;
  font-size: 22px;
}

.breadcrumb-item {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin-right: 0.5rem;
  color: #555;
}

.breadcrumb-item.active {
  color: #6c757d;
  cursor: default;
  font-weight: 200;
}

.main {
  padding-top: 80px; 
}

.privacy-policy-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "ABeeZee";
  transition: all 0.6s;
  text-align: left;
}

.privacy-policy-content {
  padding: 1rem;
}

.privacy-policy-content h1 {
  font-family: "ABeeZee";
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.date {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.privacy-policy-content p {
  font-size: 18px;
  margin-bottom: 1.5rem;
  font-family: "ABeeZee";
  color: #666;
  line-height: 1.6;
}

.title {
  font-size: 28px;
  margin: 20px 0;
  color: #34495e;
}

.sub-title {
  font-size: 22px;
  margin: 20px 0;
  color: #0d6fd7;
}

.privacy-policy-content ul {
  padding-left: 20px;
  list-style-type: disc;
}

.privacy-policy-content ul li {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.6;
}

.definitions-list li {
  list-style-type: decimal;
  margin: 10px 0;
  font-size: 18px;
}

.personal-data li {
  list-style-type: disc;
  margin: 10px 0;
  font-size: 18px;
}

.privacy-policy-content p {
  margin-top: 20px !important;
}

.privacy-policy-content h2,
.privacy-policy-content h3,
.privacy-policy-content h4 {
  color: #0d6fd7;
  margin-top: 20px;
}

.privacy-policy-content h1 {
  color: #0d6fd7 !important;
}

@keyframes animator1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.privacy-policy-content p,
.terms-container ul,
.terms-container li {
  animation: animator1 forwards 0.6s;
}

#dark .privacy-policy-content h2 {
  color: #7db4ee !important;
  font-size: 30px;
}

#dark .privacy-policy-content h1 {
  color: #278af3 !important;
}

#dark .privacy-policy-content .date span {
  color: #e6e1e1 !important;
}

#dark .privacy-policy-content h3 {
  color: #8fbef0 !important;
  font-size: 30px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 55px;
}

.menu {
  display: flex;
  margin-left: auto; 
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 1rem; 
  margin-left: 550px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px;
  transition: 0.4s;
}

.profile_btn {
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .menu {
    display: none;
  }
  .menu.show {
    display: block; 
  }
}

