.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #333;
  font-size: 22px;
}

.breadcrumb-item {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin-right: 0.5rem;
  color: #555;
}

.breadcrumb-item.active {
  color: #6c757d;
  cursor: default;
}

.privacy-policy-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.6s;
  text-align: start;
}

.privacy-policy-content {
  padding: 2rem;
}

.privacy-policy-content h1 {
  font-family: "ABeeZee";
  font-size: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: black;
}

.date {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.privacy-policy-content p {
  font-size: 20px;
  margin-bottom: 2rem;
  font-family: "ABeeZee";
  color: #666;
  line-height: 1.6;
}

.title{
    font-size: 30px;
    margin: 20px 0;
}
.sub-title{
    font-size: 24px;
    margin: 20px 0;
}

.privacy-policy-sections {
  display: flex;
}

.privacy-policy-sidebar {
  flex: 1;
  margin-right: 2rem;
}

.privacy-policy-sidebar ul {
  list-style: none;
  padding: 0;
}

.privacy-policy-sidebar ul li {
  margin-bottom: 1rem;
  color: #007bff;
  cursor: pointer;
  font-size: 22px;
}

.privacy-policy-sidebar ul li:hover {
  text-decoration: underline;
}

.privacy-policy-details {
  flex: 3;
}

.privacy-policy-details h2 {
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.privacy-policy-container li{
  font-size: 22px;
}

.privacy-policy-content .definitions-list li{
  list-style-type: decimal;
  margin: 20px;
  line-height: 28px;
  font-size: 20px;
}

.personal-data li {
  margin: 20px;
}
.privacy-policy-content  p{
  margin-top: 40px !important;
}
.privacy-policy-content h2,.privacy-policy-content h3,.privacy-policy-content h4{
  color: #0d6fd7;
}
.privacy-policy-content h1{color: #0d6fd7 !important;}
.privacy-policy-content p, .terms-container ul, .terms-container li{
animation: animator1 forwards 0.6s;
}
@keyframes animator1 {
    from{
      opacity: 0;
    }to{
      opacity: 1;
    }
}
.privacy-policy-content h2{
  margin-top: 20px !important;
  font-size: 36px !important;
}
.privacy-policy-content #licenses p{
  margin-top: 40px;
} 
.privacy-policy-content p {
  font-size: 22px;
  margin-bottom: 1rem;
  font-family: "ABeeZee";
  color: #666;
  line-height: 1.6;
}

.privacy-policy-content h1 {
  font-family: "ABeeZee";
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #333;
}

.privacy-policy-content h2 {
color: #34495e;
font-size: 30px;
}
#dark .privacy-policy-content h2 {
  color: #7db4ee !important;
  font-size: 30px;
  }

#dark .privacy-policy-content h1 {
  color: #278af3 !important;
}  
#dark .privacy-policy-content .date span {
  color: #e6e1e1 !important;
}
#dark .privacy-policy-content h3 {
  color: #8fbef0 !important;
  font-size: 30px;
}