.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #333;
  font-size: 22px;
}

.breadcrumb-item {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin-right: 0.5rem;
  color: #555;
}

.breadcrumb-item.active {
  color: #6c757d;
  cursor: default;
}

.privacy-policy-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.6s;
  text-align: start;
}

.privacy-policy-content {
  padding: 2rem;
}

.privacy-policy-content h1 {
  font-family: "ABeeZee";
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #333;
}

.date {
  display: flex;
  justify-content: center;
}

.privacy-policy-content p {
  font-size: 22px;
  margin-bottom: 1rem;
  font-family: "ABeeZee";
  color: #666;
  line-height: 1.6;
}

.title{
    font-size: 30px;
}
.sub-title{
    font-size: 24px;
}

.privacy-policy-sections {
  display: flex;
}

.privacy-policy-sidebar {
  flex: 1;
  margin-right: 2rem;
}

.privacy-policy-sidebar ul {
  list-style: none;
  padding: 0;
}

.privacy-policy-sidebar ul li {
  margin-bottom: 1rem;
  color: #007bff;
  cursor: pointer;
  font-size: 22px;
}

.privacy-policy-sidebar ul li:hover {
  text-decoration: underline;
}

.privacy-policy-details {
  flex: 3;
}

.privacy-policy-details h2 {
  font-size: 22px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #007bff;
}

li{
    font-size: 22px;
}