.privacy-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.privacy-policy-container {
  flex: 1;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 5vh;
  padding: 2rem;
  font-family: "ABeeZee", Arial, sans-serif;
  transition: all 0.6s;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.privacy-policy-content {
  padding: 1rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #333;
  font-size: 16px;
}

.breadcrumb-item {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
  font-weight: bold;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin-right: 0.5rem;
  color: #555;
}

.breadcrumb-item.active {
  color: #6c757d;
  cursor: default;
  font-weight: 200;
}

.privacy-policy-container h1,
.privacy-policy-container h2,
.privacy-policy-container h3 {
  text-align: center;
  font-family: 'ABeeZee',sans-serif;
}

.privacy-policy-container p{
  font-family: 'Poppins', sans-serif;
}

.privacy-policy-container h1 {
  font-size: 40px;
  color: #0d6fd7;
  margin-bottom: 0.5rem;
}

.date {
  text-align: center;
  color: #666;
  margin-bottom: 2rem;
}

.privacy-policy-container h2 {
  font-size: 32px;
  color: #3c38b9;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.privacy-policy-container h3 {
  font-size: 26px;
  color: #0d6fd7;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.highlights {
  background-color: #f0f0f0;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 5px;
}

.highlights h3 {
  margin-top: 0;
}

.privacy-policy-container p,
.privacy-policy-container ul {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 1rem;
}

.privacy-policy-container ul {
  padding-left: 2rem;
}

.privacy-policy-container li {
  margin-bottom: 0.5rem;
}

.definitions-list li,
.personal-data li {
  list-style-type: disc;
  margin: 10px 0;
}

.usage-data li {
  margin-bottom: 1rem;
}

@keyframes animator1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.privacy-policy-container p,
.privacy-policy-container ul,
.privacy-policy-container li {
  animation: animator1 forwards 0.6s;
}

#dark .privacy-policy-container {
  background-color: #1a1a1a;
  color: #e6e1e1;
}

#dark .privacy-policy-container h2 {
  color: #7db4ee !important;
}

#dark .privacy-policy-container h1 {
  color: #278af3 !important;
}

#dark .privacy-policy-container .date span {
  color: #e6e1e1 !important;
}

#dark .privacy-policy-container h3 {
  color: #8fbef0 !important;
}

#dark .privacy-policy-container p,
#dark .privacy-policy-container ul {
  color: #b0b0b0;
}

#dark .highlights {
  background-color: #2a2a2a;
}