.social-links-container {
  text-align: start;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 auto;
  min-height: 300px;
}

.social-links-container h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.social-links-container p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
}

.social-links {
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
}

.social-links a {
  color: #fff;
  transition: color 0.3s ease;
}

.social-links a:nth-child(2):hover {
  color: #333; /* GitHub color */
}

.social-links a:nth-child(3):hover {
  color: #1da1f2; /* Twitter color */
}

.linked-in {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.linked-in {
  background-color: #0077b5;
  color: #fff;
  padding: 5px;
}

.github {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.twitter {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #1da1f2;
  color: #fff;
  padding: 5px;
}