#pageNotFound{
    position: relative;
    font-family: 'ABeeZee';
    font-size: 5rem;
    color: var(--white);
    text-align: center;
}

#navbar{
    display: flex;
}

#navbar ul{
    position: absolute;
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: var(--pageColor);
    gap: 5rem;
    right: 6rem;
    padding: 1.5rem 1.5rem 1.5rem 2.5rem;
    border-radius: 5rem;
}

#navbar ul li * {
    font-family: 'Livvic';
    font-size: 2.2rem;
    color: var(--white);
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.loginSignUpBtn{
    display: inline-block;
    background-color: var(--btnColor);
    border-radius: .8rem;
    width: 10rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin-right: 1rem;
}

#logo{
    margin: 2rem 0 0 3rem;
    height: 8rem;
    width: 8rem;
}

#meetingImg{
    position: absolute;
    top: 20rem;
    left: 12rem;
    height: 64rem;
}

#homeTxt{
    position: absolute;
    width: 75rem;
    top: 25rem;
    right: 8rem;
    font-family: 'ABeeZee';
    font-size: 10rem;
    font-weight: bold;
    color: var(--white);
}

#homeCircle{
    position: absolute;
    height: 100rem;
    width: 100rem;
    border-radius: 100%;
    background-color: var(--secPageColor);
    right: -20rem;
    top: 20rem;
    overflow: hidden;
    z-index: -999;
}

#homeCircleScnd{
    position: absolute;
    height: 100rem;
    width: 100rem;
    border-radius: 100%;
    background-color: var(--secPageColor);
    left: -40rem;
    bottom: 40rem;
    overflow: hidden;
    z-index: -999;
}