#pageNotFound{
    position: relative;
    font-family: 'ABeeZee';
    font-size: 5rem;
    color: var(--white);
    text-align: center;
}

#navbar{
    display: flex;
    justify-content: space-between;
}

#navbar ul{
    /* position: absolute; */
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: var(--secPageColor);
    gap: 2.5vw;
    /* right: 6rem; */
    /* padding: 1.5rem 1.5rem 1.5rem 2.5rem; */
    padding: .78vw .78vw .78vw 1.3vw;
    border-radius: 2.6vw;
}

#navbar ul li * {
    font-family: 'Livvic';
    font-size: 1.14vw;
    color: var(--white);
    text-decoration: none;
}

.active {
    font-weight: bold;
}

.loginSignUpBtn{
    display: inline-block;
    background-color: var(--btnColor);
    border-radius: .4vw;
    width: 5.2vw;
    text-align: center;
    padding: .5vw 0 .5vw 0;
    margin-right: .5vw;
}

#logo{
    margin: 1.04vw 0 0 1.56vw;
    height: 4.16vw;
    width: 4.16vw;
    display: block;
}

#homeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4.79vw 3.85vw 0 5.83vw;
}

#meetingImg{
    height: 54%;
    width: 37.3%;
}

#homeTxt{
    width: 39.06vw;
    font-family: 'ABeeZee';
    font-size: 5.2vw;
    font-weight: bold;
    color: var(--white);
}

#homeCircle{
    position: absolute;
    height: 52.08vw;
    width: 52.08vw;
    border-radius: 100%;
    background-color: var(--secPageColor);
    right: -10.41vw;
    top: 10.41vw;
    overflow: hidden;
    z-index: -999;
}

#homeCircleScnd{
    position: absolute;
    height: 52.08vw;
    width: 52.08vw;
    border-radius: 100%;
    background-color: var(--secPageColor);
    left: -20.83vw;
    bottom: 20.83vw;
    overflow: hidden;
    z-index: -999;
}