.page {
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
  height: calc(100vh - 60px);
  margin-top: 60px;
}

.left {
  display: flex;
  flex-direction: column;
  
  
}

.content {
  background-color: #5cb6f9;
  width: 50vw;
  overflow: hidden;
  position: relative;
  text-align: start;
  text-wrap: wrap;
  overflow: hidden;
  height: 100%;
 
}

.college-name {
  font-weight: bolder;
  font-size: 40px;
  width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
}


.description-card {
  display: flex;
  width: 90%;
  margin-right: 10%;
  margin-left: 5%;
}

.description {
  font-weight: 600;
  font-size: 18px;
}

.group {
  display: flex;
  flex-direction: row;
}

.location {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-left: 5%;
  align-items: center;
  background-color: rgba(255, 255, 255,0.2);
  margin-bottom: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.icon{
  width: 20%;

}
.location-depth {
  display: flex;
  width: 80%;
  flex-direction: column;
  width: auto;
}

.location-heading {
margin-top: 0px;
  font-size: 20px;

  margin-bottom: 0px;
}
.rating-text{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 15px;
  
  gap: 6px;
}
.rating-heading{
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.location-text {

  font-size: 15px;
margin-top: 0px;
margin-bottom: 0px;
  
}
.rate{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

}
.rating {
  display: flex;
  width: 30%;
  background-color: rgba(255, 255, 255,0.2);
  margin-bottom: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 10px;

  flex-direction: row;
  align-items: center;
  height: 80px;
}



.image {
  display: flex;
  margin-left: 0px;
  height: 50% !important;
  width: 50vw;
  object-fit: cover;
  margin-bottom: 0px !important;
  position: absolute;
  bottom: 0px;
}



.search-button {
  background-color: rgb(23, 23, 70);
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-top: -200px;
  margin-left: 32vw;
  width: 150px;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  background-color: #cae8ff;
}
.search-button a{
  text-decoration:none;
  color:white;
}
.search-button a:hover{
  cursor:pointer;
}
.searchCourses {
  border-radius: 15px;
  width: 30vw;
  background-color: #c5d5d4;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.input-courses {
  width: 30vw;
}
.st{
  width: 80%;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}

.student-card {
  margin-top: 25px;
  background-color: #5cb6f9;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: auto;
  width:38vw;
}

.student {
  background-color: rgb(229, 234, 234);
  color: rgb(29, 31, 155);
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.student-description {
  display: flex;
  flex-direction: row;
  font-size: 10px;
}

.course , .branch,.year {
  font-size: 15px;
}

.branch {
  margin-right: 6px;
}

.position {
  display: flex;
  font-size: 16px;
  font-weight:bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 815px) {
  .page {
    flex-direction: column;
  }
  .location-depth{
    display: flex;
    justify-content: center;
  }

  .location{
    width: 100% !important;

  }

  .content {
    width: 100vw;
    height: 50% ;
  }

  .left {
    width: 100vw;
    height: calc(100vh - 60px);
    margin-top: 60px;
  }

  .description-card {
    width: 100% !important;
    text-align: center ;
    font-size: 15px;
  }

  .location-heading {
    padding-left: 0px;
    /* margin-right: 170px; */
  }
.iconify {
  margin-left: 0px !important;
}
  .location-text {
    width: 100% !important;
    text-align: center;
    margin-left: 0px;
    display: block;
    margin-top: 0px;
    padding-top: 0px;
  }

  .group {
    flex-direction: column;
    width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px !important;
  }

  .rating {
    margin-left: 0px;
  }

  .image {
    width: 100vw;
    min-height: 60vw;
  }

  .right {
    width:50vw !important;
    display: flex;
    justify-content: center;
  }

  .searchCourses {
    background-color: #c5d5d4;
    font-size: 16px;
  }

  .student-card {
    width: 90vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  .student {
    margin-left: 100px;
  }

  .course {
    margin-left: 60px;
    margin-right: 6px;
  }

  .branch {
    margin-right: 6px;
  }

  .position {
    margin-left: 60px;
    width: 400px;
    font-size: 20px;
  }
}