.breadcrumb {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-size: 1rem;
    color: #333;
    font-size: 22px;
  }
  .terms-container .contents p{
  text-align: justify;
 }
 .terms-container .contents ul{
  margin-top: 30px !important;
 }
 .terms-container .contents li{
  line-height-step: 2;
 }
  #dark p, #dark h1, #dark li{
  color: white ;
  } 
  #dark .terms-container h2{
    color: #60a4ee !important;
  }
  #dark .terms-container h1{
    color: #4491e4 !important;
  }
  .terms-container #cookies{
    margin-top: 50px;
  }
  .terms-container  #cookies p{
    margin-top: 20px;
  }
  .breadcrumb-item {
    color: #007bff;
    text-decoration: none;
    margin-right: 0.5rem;
  }
  .terms-container  p{
    margin-top: 40px !important;
  }
  .terms-container h1{
    color: #0d6fd7 !important;
  }
  .terms-container p, .terms-container ul, .terms-container li{
animation: animator1 forwards 0.6s;
  }
  @keyframes animator1 {
      from{
        opacity: 0;
      }to{
        opacity: 1;
      }
  }
  .terms-container h2{
    margin-top: 20px !important;
    font-size: 36px !important;
  }
  .terms-container #licenses p{
    margin-top: 40px;
  }
  .breadcrumb-item:hover {
    text-decoration: underline;
  }
  
  .breadcrumb-separator {
    margin-right: 0.5rem;
    color: #555;
  }
  
  .breadcrumb-item.active {
    color: #6c757d;
    cursor: default;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .terms-container {
      max-width: 1000px;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 8px;
      font-family: Arial, sans-serif;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      transition: all 0.6s;
      text-align: start;
  }
  
  
  .terms-container h1 {
      font-family: "ABeeZee";
      font-size: 70px;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      color: #333;
  }
  
  .terms-container h2 {
    color: #34495e;
    font-size: 30px;
  }
  
  .terms-container p {
      font-size: 22px;
      margin-bottom: 1rem;
      font-family: "ABeeZee";
      color: #666;
      line-height: 1.6;
  }
  
  .terms-container ul {
    list-style: disc inside;
    margin-left: 20px;
  }
  
  .terms-container ul li {
      margin-bottom: 1rem;
    cursor: pointer;
    font-size: 22px;
  }
  