body {
  font-family: Arial, sans-serif;
}

.breadcrumb {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  font-size: 22px;
  color: #333;
}

.breadcrumb-item {
  color: #007bff;
  text-decoration: none;
  margin-right: 0.5rem;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-separator {
  margin-right: 0.5rem;
  color: #555;
}

.breadcrumb-item.active {
  color: #6c757d;
  cursor: default;
}

.terms-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  transition: all 0.6s;
  text-align: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.terms-container h1 {
  font-family: "ABeeZee", sans-serif;
  font-size: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #0d6fd7;
}

.terms-container h2 {
  margin-top: 20px;
  font-size: 36px;
  color: #34495e;
}

.terms-container p {
  margin-top: 40px;
  font-size: 22px;
  margin-bottom: 1rem;
  font-family: "ABeeZee", sans-serif;
  color: #666;
  line-height: 1.6;
  text-align: justify;
  animation: animator1 forwards 0.6s;
}

.terms-container ul {
  list-style: disc inside;
  margin-left: 20px;
  margin-top: 30px;
  animation: animator1 forwards 0.6s;
}

.terms-container li {
  line-height: 2;
  margin-bottom: 1rem;
  font-size: 22px;
  cursor: pointer;
}

.terms-container #cookies {
  margin-top: 50px;
}

.terms-container #cookies p {
  margin-top: 20px;
}

.terms-container #licenses p {
  margin-top: 40px;
}

@keyframes animator1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dark p,
#dark h1,
#dark li {
  color: white;
}

#dark .terms-container h2 {
  color: #60a4ee !important;
}

#dark .terms-container h1 {
  color: #4491e4 !important;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 18px;
  }

  .terms-container {
    padding: 1rem;
  }

  .terms-container h1 {
    font-size: 50px;
  }

  .terms-container h2 {
    font-size: 28px;
  }

  .terms-container p,
  .terms-container li {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .breadcrumb {
    font-size: 16px;
  }

  .terms-container h1 {
    font-size: 40px;
  }

  .terms-container h2 {
    font-size: 24px;
  }

  .terms-container p,
  .terms-container li {
    font-size: 16px;
  }
}
