@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --color-primary: #12229d;
  --color-primary2: #4454ce;
  --color-background: #cae7fe;
  --color-item: #76c6f5;
  --color-text: #333;
  --color-text-light: #fff;
}

.universityPage {
  background-color: var(--color-background);
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
}
#dark .universityPage{
  background-color: #1f1f1f;
}
.universityPage-header {
  background: linear-gradient(135deg, var(--color-primary2), var(--color-item));
  color: var(--color-text-light);
  text-align: center;
  padding: 6rem 2rem;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#dark .universityPage-header{
  background: linear-gradient(135deg, rgb(0, 0, 0), rgb(10, 10, 10));
}

.universityPage-main-title {
  font-family: 'ABeeZee',sans-serif;
  color: var(--color-primary);
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.universityPage-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  opacity: 0.9;
}


.universityPage-content {
  padding: 6rem 2rem;
}

.universityPage-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}
#dark .universityPage-card{
  border: white solid 2px;
    box-shadow: 0px 0px 10px white;
    background-color: #151414;
}

.universityPage-card {
  background-color: var(--color-text-light);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.universityPage-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.universityPage-title {
  color: var(--color-primary);
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
}
#dark .universityPage-title {
  color: #ffffff;
}

.universityPage-company {
  color: var(--color-item);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#dark .universityPage-company {
  color: #7a7a7a ;
}
#dark .universityPage-company a{
  color: #ffffff !important;
}

.universityPage-description,
.universityPage-location,
.universityPage-type {
  color: var(--color-text);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.universityPage-apply {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.universityPage-apply:hover {
  background-color: var(--color-item);
}

@media (max-width: 1200px) {
  .universityPage-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .universityPage-header {
    padding: 4rem 1rem;
  }

  .universityPage-main-title {
    font-size: 3rem;
  }

  .universityPage-subtitle {
    font-size: 1.2rem;
  }

  .universityPage-content {
    padding: 4rem 1rem;
  }

  .universityPage-list {
    grid-template-columns: 1fr;
  }

  .universityPage-card {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .universityPage-main-title {
    font-size: 2.5rem;
  }

  .universityPage-subtitle {
    font-size: 1rem;
  }

  .universityPage-title {
    font-size: 1.5rem;
  }
}


.giving0-colro{
    background: white ;
}
#dark .giving0-colro{
    background-color: #121212 !important;
}
/* .modal-jobs{
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  top: 0px !important;
  overflow: scroll;
  z-index: 0;
  left: 0px !important;
} */
.jobs-container{
  max-width: 500px;
  width:100%;
  margin: auto ;
  padding-top: 20px;
  padding-bottom: 20px !important;
  z-index: 1000;

}
.modal-jobs {
  position: fixed;
  width: 50vw;
  left: 30%;
  top: 70px !important;
  height: 90vh;
    max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
}
@media only screen and (max-width:900px){
  .modal-jobs{
    left: 20%;
    width: 80vw;
  }
}
@media only screen and (max-width:600px){
  .modal-jobs{
    left: 20px;
    width: 90vw;
  }
}
.blackb{
  background-color: black;
  opacity: 0.6;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
}


.jobs-container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-form .form-group {
  margin-bottom: 20px;
}

.modal-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-form .form-group input,
.modal-form .form-group textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-form .form-group textarea {
  resize: vertical;
  height: 100px;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.form-group{
  width: 105% !important;
}
.form-group input.form-group div{
  width: 105% !important;
}
.submit-button:hover {
  background-color: #0056b3;
}
.universityPage-card {
  background-color: var(--color-text-light);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.universityPage-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.universityPage-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.universityPage-card img {
  height: 200px;
  width: 280px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}










.universityPage-card {
  background-color: var(--color-text-light);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.universityPage-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  background-color: #92c0ee;
}

#dark .universityPage-card:hover{
  background-color: rgb(70, 69, 69) !important;
}

.universityPage-title,
.universityPage-company,
.universityPage-description,
.universityPage-location {
  transition: color 0.3s ease-in-out;
}

.universityPage-card:hover .universityPage-title,
.universityPage-card:hover .universityPage-company,
.universityPage-card:hover .universityPage-description,
.universityPage-card:hover .universityPage-location {
  color: black;
}

@media (max-width: 1200px) {
  .universityPage-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .universityPage-header {
    padding: 4rem 1rem;
  }

  .universityPage-main-title {
    font-size: 3rem;
  }

  .universityPage-subtitle {
    font-size: 1.2rem;
  }

  .universityPage-content {
    padding: 4rem 1rem;
  }

  .universityPage-list {
    grid-template-columns: 1fr;
  }

  .universityPage-card {
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .universityPage-main-title {
    font-size: 2.5rem;
  }

  .universityPage-subtitle {
    font-size: 1rem;
  }

  .universityPage-title {
    font-size: 1.5rem;
  }
}
/* Skeleton styles */
.universityPage-list .skeleton-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.universityPage-list .skeleton-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  width: calc(33.333% - 20px); /* Adjust this to match your card width */
  width: 100%;
}

.universityPage-list .skeleton-img {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite;
}

.universityPage-list .skeleton-title,
.universityPage-list .skeleton-company,
.universityPage-list .skeleton-description,
.universityPage-list .skeleton-location {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
  animation: pulse 1.5s infinite;
}

.universityPage-list .skeleton-title {
  width: 60%;
  height: 20px;
}

.universityPage-list .skeleton-company {
  width: 100%;
  height: 16px;
}

.universityPage-list .skeleton-description {
  width: 100%;
  height: 16px;
}

.universityPage-list .skeleton-location {
  width: 70%;
  height: 16px;
}

@keyframes pulse {
  0% {
    background-color: #e4e3e3;
  }
  50% {
    background-color: #d1c9c9;
  }
  100% {
    background-color: #e4e3e3;
  }
}

@media (max-width: 768px) {
  .skeleton-card {
    width: 100%; /* Full width for each card */
  }
}

/* Dark mode */
#dark .universityPage-list .skeleton-card {
  background-color: #000000;
}

#dark .universityPage-list .skeleton-img,
#dark .universityPage-list .skeleton-title,
#dark .universityPage-list .skeleton-company,
#dark .universityPage-list .skeleton-description,
#dark .universityPage-list .skeleton-location {
  animation: skeleton-animation-dark 1.5s infinite ease-in-out;
}

@keyframes skeleton-animation-dark {
  0% {
    background-color: #524e4e;
  }
  50% {
    background-color: #282727;
  }
  100% {
    background-color: #524e4e;
  }
}