@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

.contact-page {
  background-color: #CAE7FE;
}

#dark .contact-page {
  background-color: black;
}

/* .contact-page * {
  margin: 0;
  box-sizing: border-box;
} */

.contact1 {
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('./top-view-blue-monday-concept-composition-with-telephone-removebg-preview.png') no-repeat center center;
  /* background: url('./lightimage.png') no-repeat center center; */
  background-size: cover;
  /* padding: 20px; */
  /* margin-bottom: 10rem; */
}

#dark .contact1 {
  background: url('./9398699_34781-removebg-preview.png') no-repeat center center !important;
  background-size: cover !important;
}

.contact1 .left,
.contact1 .right {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  background-color: transparent;
}

#dark .contact1 .left,
.contact1 .right {
  background-color: transparent !important;
}

.contact1 .left {
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: -30px;
}

.contact1 .left h1 {
  font-size: 3.5rem;
  color: #1d61df;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: color 0.3s, text-shadow 0.3s;
}

.contact1 .left h1:hover {
  color: #052157;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.contact1 .left p {
  font-size: 1.8rem;
  /* line-height: 1.6; */
}

.contact1 .left span {
  font-size: 1.7rem;
  color: #555;
}

#dark .contact1 .left span {
  color: #fff !important;
}

.contact1 .customer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact1 .left1 h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #1d61df;
  transition: color 0.3s;
}

.contact1 .left1 h1:hover {
  color: #052157;
}

.contact1 .left1 p {
  font-size: 1.6rem;
}

.contact1 .right {
  /* width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact1 .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.contact1 .form:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.contact1 .form h1 {
  font-size: 3rem;
  color: #1d61df;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.contact1 .form p {
  font-size: 1.5rem;
  color: #666;
}

.contact1 .form .name-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contact1 .form input,
.contact1 .form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 18px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1.5rem;
  transition: border-color 0.3s;
}

.contact1 .form input:focus,
.contact1 .form textarea:focus {
  border-color: #1d61df;
}

.contact1 .form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #1d61df;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact1 .form button:hover {
  background-color: #052157;
  transform: scale(1.05);
}

.contact1 .form p.terms {
  font-size: 1.5rem;
  text-align: center;
  color: #666;
}

@media only screen and (max-width: 800px) {
  .contact1 {
    flex-direction: column;
    height: auto;
  }

  .contact1 .left,
  .contact1 .right {
    width: 100%;
  }

  .contact1 .form {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .contact1 .customer {
    flex-direction: column;
    align-items: center;
  }

  .contact1 .form button {
    font-size: 1rem;
    padding: 10px;
  }
}

#dark .contact1 {
  background: url('../../assets/contact-background-dark.jpg') no-repeat center center;
  background-size: cover !important;
  background-size: contain !important;
  background-position: left !important;
}

#dark .contact1 .left,
#dark .contact1 .right {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

#dark .contact1 .form {
  background-color: #1c1c1c;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}

#dark .contact1 .form input,
#dark .contact1 .form textarea {
  background-color: #2e2e2e;
  color: #fff;
  border-color: #444;
}

#dark .contact1 .form button {
  background-color: #333;
}

#dark .contact1 .form button:hover {
  background-color: #444;
}