.App {
  text-align: center;
  background-color: #CAE7FE;
}
.scroll{
  /* z-index: 10000; */
   padding: 1rem 1rem!important;
  align-items: center !important;
  justify-items: center !important;
  right:20px !important;
  margin-top: -2rem;
  position: absolute;
  box-shadow: 0 0 4px grey !important;
  cursor: pointer;
}

.navbar {
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width:100%;
  color: white;
  margin: 0px;
  background-color: white;
  font-weight: 500;
  z-index: 10;
  max-height: 60px;
  /* border-radius: 5px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.6s;
  /* box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.421); */
}
.navbar.fixed{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  color: white;
  /* background-color:transparent; */
  width: 100%;
  margin:0;
  box-shadow:  0 2px 2px rgba(0, 0, 0, 0.385);
  
}
.navbar.fixed .menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 60px;
  float: right;
  padding: 0px 30px;
  align-items: center;
  /* background-color:#d3eafd; */
  /* border-top-left-radius: 50px; */
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.385); */
  /* border-bottom-left-radius: 50px; */
}


.logo img {
  width: 75px;
  padding-left: 15px;
}

.navbar .menu {
  flex-direction: column;
  align-items: center;
  /* top: 0px; */
  width: 100%;
}

.menu.show {
  display: flex;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 60px;
  margin:0px;
  float: right;
  padding: 0px 30px;
  align-items: center;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.menu li {
  margin: 15px 0;
}

.menu li:hover {
  color: #3C38B9;
}

.profile_btn {
  background-color: var(--btnColor);
  border-radius: 10px;
  color: #F4F6FC;
  text-align: center;
  padding: 10px 40px;
  margin-right: 0.5vw;
  border: none;
  font-size: 22px;
  float: right;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 1px 2px 1px grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

#dark .profile_btn {
  color: white;
}

#dark .profile_btn:hover {
  background-color: var(--btnColor);
}

.profile_btn:hover {
  background-color: #050A30;
}

.menu a {
  text-decoration: none;
  position: relative;
  color: #00073e;
  font-size: 20px;
  :active{
    color:#303B5E;
  }
}

.menu a:hover {
  color: #3C38B9;
}

.menu a::before {
  content: "";
  background-color: #3C38B9;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  top: 25px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu a:hover::before {
  transform: scaleX(1);
}

.menu a button{
  :hover{
    background-color: #152280;
  }
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.4s;
}

.bar.open {
  transform: rotate(-45deg);
  position: absolute;
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg);
}

.colleges {
  position: relative;
}

.college {
  position: relative;
  overflow: hidden;
  transition: background 0.7s ease;
}

.college:hover,
.college.active {
  background: linear-gradient(to right, rgba(0, 128, 255, 0.5), rgba(19, 191, 200, 0.5));
}

.college-content {
  transition: opacity 0.7s ease;
}

.college:hover .college-content,
.college.active .college-content {
  opacity: 0;
}

.click-info-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  color: rgb(27, 27, 180);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  font-weight: bolder;
  transition: opacity 0.7s ease;
  pointer-events: none;
  cursor: pointer;
}

.college:hover .click-info-button,
.college.active .click-info-button {
  opacity: 1;
  pointer-events: auto;
}
.dot {
  height: 18px;
  width: 18px;
  background-color:#050A30;
  border-radius: 50%;
  
}


@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .colleges{
    display:flex;
    justify-content:left;
    margin-left:0px;
  }
  .college{
    display:flex;
    flex-direction:column;
    justify-content: left;
    margin-left:0px;
    padding-right:90px;
  }
  .up{
    padding-right:120px;
    margin-left:0px;
  }
  .menu.show {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #12229d;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    background-color: #CAE7FE;
  }

  .menu.show {
    display: flex;
    background: #cae7fe45;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #cae7fe;
    backdrop-filter: blur(10px);
  }

  .menu ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .menu li {
    margin: 15px 0;
  }
.menu .show ul{
  gap:20px;
  display: flex;
  flex-direction: column;
}
  .menu a {
    text-decoration: none;
    color: #12229d;
    font-size: 18px;
  }

  .hamburger {
    display: flex;
    margin-right: 30px;
  }

  .bar {
    background-color: #12229d;
  }

  .dot {
    display: none;
  }
.menu ul{gap: 40px;}
}

.maintxt {
  background-color: #CAE7FE;
}

.maintxt h1 {
  width: 66vw;
  font-family: 'ABeeZee';
  font-size: 70px;
  color: #050A30;
  margin: 0 auto;
  padding-top: 180px;
}

.blue {
  color: #3C38B9;
}

.maintxt p {
  font-family: 'ABeeZee';
  font-size: 22px;
  color: #050A30;
  text-align: center;
  margin: 30px 0 0 0;
  padding-bottom: 50px;
}

.search {
  width: 70vw;
  background-color: #76c6f5;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.vl {
  position: relative;
  top: 1px;
  right: -25px;
  border-left: 2px solid #306094;
  height: 72px;
}

.search img {
  width: 35px;
  height: 39px;
  position: relative;
  top: 18px;
  right: -6px;
  color: #306094;
}

.search input {
  width: 78%;
  height: 70px;
  background-color: #e4f1fe;
  appearance: none;
  border: none;
  border-radius: 15px;
  font-size: 25px;
  font-family: 'ABeeZee';
  color: #25376e;
  padding-left: 35px;
  margin-left: 40px;
  margin-right: 15px;
}

.search input::placeholder {
  color: rgb(198, 190, 190);
}

.search button {
  background-color: var(--btnColor);
  border-radius: 15px;
  color: #F4F6FC;
  text-align: center;
  padding: 20px 50px 20px 50px;
  margin-right: 0.5vw;
  border: none;
  font-size: 25px;
  float: right;
  cursor: pointer;
}

.search button:hover {
  background-color: #000000
}

.s_bar_c {
  display: contents;
}
.navigator {
  font-size: 40px;
  font-family: 'ABeeZee';
  font-weight: 600;
  width: 80vw;
  margin: auto;
  background-color: #CAE8FF;
}

.nearby {
  float: left;
  color: #050A30;
}

.seeall {
  float: right;
  color: #303B5E;
}

.colleges {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  width: 80vw;
  margin-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  row-gap: 30px;
  margin-bottom: 50px;
}

.college {
  font-family: 'ABeeZee';
  width: 300px;
  height: 170px;
  border-radius: 12px;
  background-color: #5CB6F9;
  padding: 30px;
  margin: auto;
}

.up {
  display: flex;
}

.up img {
  width: 130px;
  height: 130px;
  border-radius: 12px;
  margin-right: 20px;
}

.context p {
  font-size: 20px;
  font-family: 'ABeeZee';
  margin-bottom: 20px;
}

.context span {
  font-size: 14px;
  background-color: #F4F6FC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  color: #3E3ABA;
  font-family: 'ABeeZee';
}

.down {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.ctc {
  font-family: 'ABeeZee';
  font-size: 18px;
  color: #050A30;
}

.time {
  font-size: 15px;
  font-family: 'ABeeZee';
  color: #050a3079;
}

.toast-message {
  background: #12229d;
  color: #fff;
  font-size: 12px;
  right: 0;
  position: absolute;
  width: 18vw;
  top: 50px;
  padding: 10px;
  z-index: 100;
}
.toast-message button{
  color: white;
}



@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .colleges{
    display:flex;
    justify-content:center;
    margin-left:5%;
    padding-right:20px;
    
  }
  .college{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:0px;
    padding: 30px;
    width:65vw;
  }
  /* .college-content{
    margin-right:10px;
    padding-right:30px;
  } */
  .up{
    padding-right:120px;
    margin-left:0px;
  }
  .context{
    padding-right:20px;
    margin-right:10px;
  }
  /* .college_name{
    padding-right:20px;
  } */
  .menu.show {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #12229d;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    background-color: #CAE7FE;
  }

  .menu.show {
    display: flex;
    background: #cae7fe45;
    border-radius: 10px;
    padding: 75px;
    box-shadow: 0 0 10px #cae7fe;
    backdrop-filter: blur(10px);
  }

  .menu ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .menu li {
    margin: 15px 0;
  }

  .menu a {
    text-decoration: none;
    color: #12229d;
    font-size: 18px;
  }

  .hamburger {
    display: flex;
    margin-right: 30px;
  }

  .bar {
    background-color: #12229d;
  }

  .dot {
    display: none;
  }
  .maintxt h1 {
    font-size: 55px;
  }

  .search input {
    height: 60px;
    font-size: 22px;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    border-radius: 15px;
    padding-left: 12px;
  }

  .search button {
    height: 60px;
    padding: 0 30px;
  }
}




  

@media (max-width: 1050px) {
  .s_bar_c {
    display: flex;
    margin-bottom: 15px;
  }

  .search {
    flex-direction: column;
    background-color: #ffffff;
  }

  .search img {
    display: none;
  }

  .vl {
    display: none;
  }

  .search button {
    width: fit-content;
    margin: 0 auto;
  }

  .search input {
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    border-radius: 15px;
    padding-left: 12px;
  }
}
@media (max-width: 1400px) {
  .colleges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .college {
    margin: auto;
  }
}



@media (max-width: 960px) {
  .colleges {
    grid-template-columns: 1fr;
  }
}