
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");

.faqs-container {
  padding: 2rem;
  max-width: 50%;
  margin: 0 auto;
}

.faqs-container * {
  box-sizing: border-box;
}

.faqs-container h2 {
  color: #6ca2dc;
  text-shadow: 0 0 4px #03b5d2;  
  font-size: 40px;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "ABeeZee", sans-serif;
}
  /* border-right: 0.1rem solid aqua;
  animation: 
  blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: aqua; }
} */

.accordion-title{
  font-size: 22px;
  margin: 0 10px;
}

.accordion{
    margin-top: 70px;
    margin-bottom: 30px;
}

.accordion .accordion-item {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #6ca2dc;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
  transition: color 0.3s;
}

.accordion button:hover,
.accordion button:focus {
text-shadow: 0 0 20px #03b5d2;  
  cursor: pointer;
  color: #03b5d2;
}

.accordion button {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content.active {
  opacity: 0.8;
  max-height: 9em;
  text-align: left;
  margin-left: 30px;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
  color:black ;
  text-shadow: 0 0 50px black;  

  font-family: 'Hind',sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 1em 0;
}
#dark .accordion .accordion-content p {
  color:white ;
  text-shadow: 0 0 20px white;  

  font-family: 'Hind',sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin: 1em 0;
}


.repo-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  #dark svg{
    color: white;
  }
  svg:hover{
    transform: scale(1.5); /* increase the size of the icon on hover */
  color: #66d9ef; /* change the color of the icon on hover */
  cursor: pointer;
  }
  #dark svg:hover{
    transform: scale(1.5); /* increase the size of the icon on hover */
    color: #66d9ef; /* change the color of the icon on hover */
    cursor: pointer;
    }

  .faq-header{
    color: #6ca2dc;
    text-shadow: 0 0 4px #03b5d2;  
    font-size: 40px;
    text-align: center;
    margin-bottom: 1.5rem;
    font-family: "ABeeZee", sans-serif;
  }

  .cursor {
    color: #66d9ef; /* change the cursor color */
    font-size: 24px; /* change the cursor font size */
    animation: blink 1s infinite; /* add a blinking effect */
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




  /* width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(15),cursor .4s step-end infinite alternate;
}
@keyframes cursor {
  50%{
    border-color: transparent;
  }
  
}
@keyframes typing {
 from {
  width: 0;
 }
  
} */