.App {
  text-align: center;
  background-color: #CAE7FE;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  background-color: #CAE7FE;
}


#dark .navbar {
  background-color: black;
}

.logo img {
  width: 75px;
  padding-left: 15px;
}

.menu {
  flex-direction: column;
  align-items: center;
  top: 70px;
  width: 100%;
}

.menu.show {
  display: flex;
}
.filters-dropdown {
  position: relative;
  display: inline-block;
  width: 85%;
    margin-bottom: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}
#dark .filters-dropdown svg path{
  fill: white;
}
.search_box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.search_box button{
  margin: 0px !important;
}
.filters-button {
  background-color: #1e30cf;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}
.reset-button {
  background-color: #5cb6f9;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}
#dark .modal-close{
  color: #000000;
}
.filter_icon{
  cursor: pointer;
width: 40px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
.filter-section h2{
  font-size: 24px;
  margin-bottom: 20px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.slider {
  margin-bottom: 20px;
}

.slider label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.slider p {
  margin-top: 10px;
  font-size: 14px;
}

.filters-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 60px;

  padding: 20px 10px !important;
  min-width: 200px;
  border-radius: 5px;
  margin-top: 5px;
}

.filters-dropdown:hover .filters-content {
  display: block;
}

.filter-slider {
  margin: 10px 0;
}
#dark .slider p{
  color: #000000;
}
.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#dark .filters-content{
  color: white;
  background-color: #1e1e1e;
}


.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  float: right;
  padding: 0px 30px;
  align-items: center;
  background-color: hsla(225, 57%, 97%, 0.722);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

#dark .menu ul {
  background-color: #1C1C1C;
}

#dark .menu a {
  color: #E0E0E0;
}

.menu li {
  margin: 15px 0;
}

.profile_btn {
  background-color: var(--btnColor);
  border-radius: 15px;
  color: #F4F6FC;
  text-align: center;
  padding: 10px 50px;
  margin-right: 0.5vw;
  border: none;
  font-size: 25px;
  float: right;
  cursor: pointer;
}

#dark .profile_btn {
  background-color: #3c38b9;
  color: black;
}

.menu a {
  text-decoration: none;
  color: #12229d;
  font-size: 22px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;
  display: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: 0.4s;
}

.bar.open {
  position: absolute;
  transform: rotate(-45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) ;
}
.grid-cont{
  /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; */
    /* display: flex;
      flex-wrap: wrap;
      gap: 10px;
} */

.colleges {
  position: relative;
  width: 100%;
  display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.college {
  position: relative;
  overflow: hidden;
  transition: background 0.7s ease;
  padding: 20px;
    text-align: center;
    flex: 1 0 calc(33.33% - 20px);
    /* Each item takes up 1/3 of the container width minus the gap */
    box-sizing: border-box;
}

.college:hover,
.college.active {
  background: linear-gradient(to right, rgba(0, 128, 255, 0.5), rgba(19, 191, 200, 0.5));
}

#dark .college:hover, .college.active {
  background: linear-gradient(to right, rgba(37, 37, 37, 0.5), rgba(22, 21, 21, 0.5));
}

.college-content {
  transition: opacity 0.7s ease;
}

.college:hover .college-content,
.college.active .college-content {
  opacity: 0;
}

.college-content .up .college-image {
  height: 90px;
  width: 100px;
}

.college .up .context .college_name{
  width: 100%;
  font-size: 18px;
  /* margin: 0; */
  /* margin-bottom: 20px; */
}
.context {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.college .up .context span {
  font-size: 14px;
  /* display: ruby; */
}

/* .click-info-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  color: rgb(27, 27, 180);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  font-weight: bolder;
  transition: opacity 0.7s ease;
  pointer-events: none;
  cursor: pointer;
} */

/* #dark .click-info-button {
  background-color: #3c38b9;
  color: white;
  border: none;
} */

/* .college:hover .click-info-button,
.college.active .click-info-button {
  opacity: 1;
  pointer-events: auto;
} */


@media (max-width: 960px) {
  .menu {
    display: none;
  }
  .colleges{
    display:flex;
    justify-content:left;
    margin-left:0px;
  }
  .college{
    display:flex;
    flex-direction:column;
    justify-content: left;
    margin-left:0px;
    padding-right:90px;
  }
  .up{
    padding-right:120px;
    margin-left:0px;
  }
  .menu.show {
    display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #12229d;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    background-color: #CAE7FE;
  }

  .menu.show {
    display: flex;
    background: #cae7fe45;
    border-radius: 10px;
    padding: 75px;
    box-shadow: 0 0 10px #cae7fe;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 2;
    margin-top: 50px;
  }

  .menu ul {
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }

  .menu li {
    margin: 15px 0;
  }

  .menu a {
    text-decoration: none;
    color: #12229d;
    font-size: 18px;
  }

  .hamburger {
    display: flex;
    margin-right: 30px;
    position: relative;
    z-index: 4;
    right: 0;
  }

  .bar {
    background-color: #12229d;
  }

  .dot {
    display: none;
  }
}

.maintxt {
  background-color: #CAE7FE;
}

.maintxt h1 {
  width: 66vw;
  font-family: 'ABeeZee';
  font-size: 70px;
  color: #050A30;
  margin: 0 auto;
  padding-top: 64px;
}

.blue {
  color: #3C38B9;
}

#dark .blue {
  color: #3c38b9;
}
.menu ul{gap: 40px;}
.maintxt p {
  font-family: 'ABeeZee';
  font-size: 22px;
  color: #050A30;
  text-align: center;
  margin: 30px 0 0 0;
  padding-bottom: 30px;
}

#dark .maintxt p {
  color: #E0E0E0;
}

.search {
  width: 70vw;
  background-color: #5CB6F9;
  padding: 10px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.no-res-Found-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd;
  border-radius: 8px; */
  color: #333;
  text-align: center;
  font-family: 'ABeeZee';
}

.no-res-Found-cont h1 {
  font-size: 2em;
  color: #5CB6F9; /* Updated color for emphasis */
  margin-bottom: 10px;
}

.no-res-Found-cont h2 {
  font-size: 1.2em;
  color: #00073e;
}

@media (max-width: 768px) {
  .no-res-Found-cont {
    margin: 10px;
    padding: 15px;
  }

  .no-res-Found-cont h1 {
    font-size: 1.5em;
  }

  .no-res-Found-cont h2 {
    font-size: 1em;
  }
  .context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .no-res-Found-cont {
    margin: 5px;
    padding: 10px;
  }

  .no-res-Found-cont h1 {
    font-size: 1.2em;
  }

  .no-res-Found-cont h2 {
    font-size: 0.9em;
  }
    .context {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}


#dark .search {
  background-color: #3c38b9;
}

.vl {
  position: relative;
  top: 1px;
  right: -25px;
  border-left: 2px solid #306094;
  height: 70px;
}

#dark .vl {
  border-left: black;
}

.search img {
  width: 30px;
  height: 36px;
  position: relative;
  top: 18px;
  right: -10px;
  color: #306094;
}

.search input {
  width: 78%;
  height: 70px;
  background-color: #5CB6F9;
  appearance: none;
  border: none;
  font-size: 25px;
  font-family: 'ABeeZee';
  color: #F4F6FC;
  padding-left: 35px;
  margin-left: 40px;
  margin-right: 15px;
}

#dark .search input {
  background-color: transparent;
  color: black !important;
  border: 1px solid black;
}

#dark input::placeholder{
    color: rgb(198, 196, 196) !important;
}

.search input::placeholder {
  color: white;
}

.search button {
  background-color: var(--btnColor);
  border-radius: 15px;
  color: #F4F6FC;
  text-align: center;
  padding: 20px 50px 20px 50px;
  margin-right: 0.5vw;
  border: none;
  font-size: 25px;
  float: right;
  cursor: pointer;
}

#dark .search button {
  background-color: black;
}

#dark .search button:hover {
  background-color: rgb(37, 37, 37);
}

.search button:hover {
  background-color: #000000
}

.s_bar_c {
  display: contents;
}

@media (max-width: 1050px) {
  .s_bar_c {
    display: flex;
    margin-bottom: 15px;
  }

  .search {
    flex-direction: column;
    background-color: #ffffff;
  }

  .search img {
    display: none;
  }

  .vl {
    display: none;
  }

  .search button {
    width: fit-content;
    margin: 0 auto;
  }

  .search input {
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    border-radius: 15px;
    padding-left: 12px;
  }
    .context {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}




@media (max-width: 960px) {
  .maintxt h1 {
    font-size: 55px;
  }

  .search input {
    height: 60px;
    font-size: 22px;
    margin: 0;
    padding: 0;
    width: -webkit-fill-available;
    border-radius: 15px;
    padding-left: 12px;
  }

  .search button {
    height: 60px;
    padding: 0 30px;
  }
}

.navigator {
  font-size: 40px;
  font-family: 'ABeeZee';
  font-weight: 600;
  width: 80vw;
  margin: auto;
  background-color: #CAE8FF;
}

.nearby {
  float: left;
  color: #050A30;
}

.seeall {
  float: right;
  color: #303B5E;
}

.colleges {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 100vw;
  margin-top: 120px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  row-gap: 30px;
  margin-bottom: 50px;
}

.college {
  font-family: 'ABeeZee';
  width: 300px;
  height: 170px;
  border-radius: 12px;
  background-color: #5CB6F9;
  padding: 30px;
  margin: auto;
}

#dark .college {
  background-color: #2E2E2E;
}

.up {
  display: flex;
}

.up img {
  width: 130px;
  height: 130px;
  border-radius: 12px;
  margin-right: 20px;
}

.context p {
  font-size: 20px;
  font-family: 'ABeeZee';
  margin-bottom: 20px;
}

#dark .context p {
  color: #E0E0E0;
}

.context span {
  font-size: 14px;
  background-color: #F4F6FC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  color: #3E3ABA;
  font-family: 'ABeeZee';
}

#dark .context span {
  background-color: #3c38b9;
  color: black;
}

.down {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.ctc {
  font-family: 'ABeeZee';
  font-size: 18px;
  color: #050A30;
}

#dark .ctc {
  color: white;
}

.time {
  font-size: 15px;
  font-family: 'ABeeZee';
  color: #050a3079;
}

@media (max-width: 1400px) {
  .colleges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }

  .college {
    margin: auto;
  }
}

@media (max-width: 960px) {
  .colleges {
    grid-template-columns: 1fr;
  }
    grid-cont {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      /* justify-content: center;
      align-items: center; */
      /* display: grid;
      grid-column: span 1; */
    }
}

#dark .nearby, .seeall {
  color: #E0E0E0;
}

#dark .maintxt h1{
  color: white;
}

#dark .maintxt h1{
  color: #E0E0E0;
}

#dark .maintxt {
  background-color: black;
}
.btn1 {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 1.3rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#272424,#4b59dd);
  border: 0 solid;
  overflow: hidden;
}

.btn:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}
#dark .college{
  border: white solid 2px;
  box-shadow: 0px 0px 15px white ;

}
.college:hover{
  scale: 1.05;
 transition: scale 0.7s;
}




.click-btn2 {
  align-items: center !important;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB) !important;
  border: 0 !important;
  border-radius: 8px !important;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px !important;
  box-sizing: border-box !important;
  color: #FFFFFF !important;
  display: flex !important;
  font-family: Phantomsans, sans-serif !important;
  font-size: 18px !important;
  justify-content: center !important;
  line-height: 1em !important;
  max-width: 100% !important;
  min-width: 140px !important;
  padding: 3px !important;
  text-decoration: none !important;
  user-select: none !important;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all .3s;
 }
 
 .click-btn2:active,
 .click-btn2:hover {
  outline: 0;
 }
 
 .click-btn2 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px !important;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
 }
 
 .click-btn2:hover span {
  background: none;
 }
 
 .click-btn2:active {
  transform: scale(0.9);
 }

 .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #5CB6F9; /* Adjust this color to fit your theme */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #4a9edc; /* Slightly darker shade for hover effect */
}

.pagination button.active {
  background-color: #3a8cc1; /* Even darker shade for active button */
}

.pagination button:disabled {
  background-color: #cccccc; /* Disabled state */
  cursor: not-allowed;
}
 /* Tablet (768px) */
@media (max-width: 768px) {
  .colleges {
    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }

  .college {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .up img {
    width: 100px;
    height: 100px;
  }

  .context p {
    font-size: 14px;
  }

  .context button {
    font-size: 12px;
    padding: 8px 18px;
  }

  .down {
    margin-top: 15px;
  }

  .ctc, .time {
    font-size: 14px;
  }
    .grid-cont {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      display: grid;
      grid-column: span 1;
    }
    .filters-content{
      right: 0px;
    }
}
.college {
  min-width: 300px !important;
}
/* Mobile L (425px) */
@media (max-width: 425px) {
  .colleges {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
  }

  .college {
    padding: 15px;
  }

  .up img {
    width: 80px;
    height: 80px;
  }

  .context p {
    font-size: 14px;
  }

  .context button {
    font-size: 10px;
    padding: 4px 14px;
  }

  .ctc, .time {
    font-size: 12px;
  }
    .colleges {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      /* display: grid;
      grid-column: span 1; */
    }
}

/* Mobile M (375px) */
@media (max-width: 375px) {

  .colleges {
    grid-template-columns: 1fr;
    padding-left: 5px;
    padding-right: 5px;
  }

  .college {
    padding: 10px;
  }

  .up img {
    width: 70px;
    height: 70px;
  }

  .context p {
    font-size: 13px;
  }

  .context button {
    font-size: 9px;
    padding: 3px 10px;
  }

  .ctc, .time {
    font-size: 11px;
  }
    .colleges {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      /* display: grid;
        grid-column: span 1; */
    }
}

/* Mobile S (320px) */
@media (max-width: 320px) {
  .college {
    padding: 10px;
  }

  .up img {
    width: 60px;
    height: 60px;
  }

  .context p {
    font-size: 12px;
  }

  .context button {
    font-size: 8px;
    padding: 2px 6px;
  }

  .ctc, .time {
    font-size: 10px;
  }
    .colleges {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      /* display: grid;
        grid-column: span 1; */
    }
}
.grid-cont {
  display: flex;
  flex-wrap: wrap;
}
.colleges{
      display: flex;
      flex-wrap: wrap;
}



.colleges1{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  gap: 30px !important;
}
@media only screen and (max-width:377px){
  .colleges1  {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}