.footer {
    background-color: #9cccdc;
    padding: 20px;
  }
  
  .footer footer ul {
    color: rgb(9, 15, 13);
    padding-left: 0;
  }
  
  .footer footer ul li .icon {
    margin-right: 10px;
  }
  
  .footer-container {
    display: flex;
    padding-left: 5%;
    flex-wrap: wrap;
  }
  
  .footer-container ul {
    display: flex;
    padding: auto;
    margin-left: 0;
    flex-wrap: wrap;
  }
  
  .footer-container li {
    display: flex;
    padding-left: 5%;
    font-size: medium;
    margin-left: 0;
    color: rgb(9, 15, 13);
  }
  
  .footer .icons {
    display: flex;
    padding-left: 78px;
  }
  
  .footer .icon {
    margin: 0 10px;
    color: black;
  }
  
  .footer .form {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 40%;
    border-radius: 8px;
  }
  
  .footer .form form {
    margin: 0;
    display: flex;
  }
  
  .footer .form input {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .footer .form button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #000000;
    color: white;
    cursor: pointer;
  }
  
  .footer .form button:hover {
    background-color: #9cccdc;
    border: 2px solid #000000;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%;
    }
  
    .footer-container ul {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-container li {
      padding-left: 0;
      margin: 5px 0;
    }
  
    .footer .icons {
      padding-left: 0;
      margin-top: 20px;
    }
  
    .footer .form {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 5%;
      padding: 20px;
    }
  
    .footer .form input {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .footer .form button {
      width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    .footer {
      padding: 10px;
    }
  
    .footer-container {
      padding-left: 0;
    }
  
    .footer .form {
      padding: 10px;
      margin-left: 0;
    }
  
    .footer .form input {
      padding: 5px;
    }
  
    .footer .form button {
      padding: 10px;
    }
  }
  