.footer-area {
  padding: 20px 0;
  font-family: 'Segoe UI';
  font-size: 1.4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.link {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link li {
  flex: 1;
  margin: 10px;
  position: relative;
}

.link li a {
  text-decoration: none;
  color: #6c757d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.link li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #000;
  transition: transform 0.3s ease;
}

.link li a:hover::before {
  transform: scaleX(1);
}

.link li:hover {
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.link-2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-2 li {
  flex: 1;
  position: relative;
}

.link-2 li a {
  text-decoration: none;
  color: #6c757d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.link-2 li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link-2 li a:hover::before {
  transform: scaleX(1);
}

.link-2 li:hover {
  cursor: pointer;
}

.footer-copyright {
  text-align: center;
  color: #6c757d;
  margin: 3px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  position: relative;
}

.social-icons li a {
  color: #000;
  transition: transform 0.4s ease;
  font-size: 1.8rem;
  cursor: pointer;
  transform: scale(1);
}

.social-icons li:hover {
  transform: scale(1.1) !important;
}

#dark .social-icons li a{
  color: #6c757d;
}

#dark .link-2 li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #d7dcdf;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

#dark .link-2 li a:hover::before {
  transform: scaleX(1);
}

#dark .link-2 li:hover {
  cursor: pointer;
}

#dark .link li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  background-color: #d7dcdf;
  transition: transform 0.3s ease;
}

#dark .link li a:hover::before {
  transform: scaleX(1);
}

#dark .link li:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .footer-area {
    font-size: 1rem;
    margin: 20px;
  }
  .container {
    width: 80%;
  }

  .link {
    gap: 2px;
  }

  .social-icons {
    font-size: 1.4rem;
  }
}