

footer{
    background-color: #fcfafa;
    bottom: 0px;
    left: 0px;
    padding-top: 50px !important;
    color: rgba(155, 155, 155, 0.8);
    padding: 16px;
    z-index: 0;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: black;
}

#dark footer {
    background-color: #1C1C1C;
    color: #E0E0E0;
}

footer ul{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
}

footer li{
    align-items: stretch;
    list-style: none;
    text-align: center;
    position: relative;
}

footer li a:before {
    content: "";
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    top: 20px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

footer li a:hover::before {
    transform: scaleX(1);
}

footer li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #66d9ef;
    }

#icons{
    margin-top: 10px;
}

#icons *{
    margin: auto 10px;
    font-size: 20px;
    cursor: pointer;
}
svg{
    color: black;
}
/* svg:hover{
    color: black;
 shadow: 0 0 4px #03b5d2;  
} */
@media (max-width: 900px) {
   footer ul{
      width: 80%;
    }
}
