
.ErrorPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .ErrorPage h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .ErrorPage p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  