.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .shadow-box {
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 76px;
    width: 850px;
    height: 550px;
    margin-top: -110px;
  }
  
  /* Left side container of login page */
  .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cae8ff;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 26px;
  }
  #element1Img {
    height: 61%;
    width: 84.3%;
    object-fit: cover;
    margin-top: -214px;
    margin-right: 89px;
    border-top-left-radius: 26px;
    z-index: 1;
  }
  .left-side-logo {
    height: 15%;
    width: 47.3%;
    position: absolute;
    bottom: 40%;
    right: 19%;
    border-top-left-radius: 26px;
    z-index: 0;
  }
  
  #logintxt_leftside {
    position: fixed;
    bottom: 265px;
    left: -351px;
    right: 0px;
    text-align: center;
    font-size: 17px;
    font-family: "HK Grotesk Medium";
  }
  
  /* Right side container of login page */
  .counsellor-text-container {
    position: absolute;
    top: 40px;
    background-color: #2532A4;
    border-radius: 5px;
    padding: 0.78vw;
    font-family: "HK Grotesk Bold";
    width: 74%;
    text-align: center;
    color: #fdfdfd;
    text-align: center;
    font-size: 20px;
    line-height: 2rem;
    font-weight: 700;
  }
  .lets-signin-text-container {
    position: absolute;
    font-size: 17px;
    color: #fdfdfd;
    text-align: center;
    padding: 1.6vw;
    top: 95px;
    line-height: 2rem;
    font-weight: 700;
  }
  .needhelp-container {
    position: absolute;
    font-size: 17px;
    color: #cae8ff;
    text-align: center;
    padding: 1.6vw;
    bottom: 10px;
    font-family: "HK Grotesk Medium";
    font-weight: 500;
  }
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #12229E;
    position: relative;
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-top: 80px;
    margin-top: 1.5rem;
    margin-right: 50px;
  }

  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: #cae8ff;
    margin-bottom: 4px;
    font-size: 16px;

  }

  .input-group input {
    width: 112%;
    border-radius: 0.375rem;
    border: 2px solid #fdfdfd;
    outline: 0;
    padding: 0.75rem 1rem;
    color: #050a30;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  .input-group input:focus {
    border-color: #050a30;
  }
  
  button[type="submit"] {
    width: 106%;
    padding: 0.75rem 1rem;
    margin: 7px;
    bottom: 25px;
    font-size: 16px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 600;
    margin-left: 58px;
  }
  
  button[type="submit"]:hover {
    background-color: #2532A4;
  }
  
  .loginOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #cae8ff;
    justify-content: center;
    font-family: "HK Grotesk Medium";
    font-size: 15px;
    font-weight: 500;
    margin-top: 39px;
    margin-left: 70px;
  }
  
  #googleicon {
    margin: 0 12px;
    width: 24%;
    cursor: pointer;
  }
  
  #windowicon {
    margin: 0 auto;
    width: 22%;
    cursor: pointer;
  }
  
  #githubicon {
    margin-left: 10px;
    width: 22%;
    cursor: pointer;
  }

  .toggle-button{
    position:absolute;
    cursor: pointer;
    top: 48%;
    right: 22%;
  }


