.login-container {
  font-family: "ABeeZee";
  margin-top: 10px;
  width: 100vw;
}

/* Left side container of login page => same as signup page */

/* Right side container of login page */
.sign-in {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  margin-top: 30px;
}

.right .google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 2px solid #1877f2;
  margin: 3% 20%;
  padding: 8px 0;
  border-radius: 6px;
  cursor: pointer;
}

.googleicon {
  width: 30px;
}

.right .login-with-google {
  font-size: 16px;
}

.or-line {
  display: flex;
  justify-content: center;
  color: gray;
}

.or-line hr {
  width: 27%;
  margin: auto 10px;
  border-width: 0;
  height: 1px;
  background: gray;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 95%;
  padding: 12px;
  margin: 5px 0 20px;
  border-radius: 6px;
  font-size: 16px;
  border: 2px solid #d8d8d8;
  outline: none;
}

.login-container input[type="checkbox"] {
  width: unset;
}

label[for="user-name"],
label[for="password"],
label[for="remember-me"] {
  margin-top: 10px;
  font-size: 16px;
}

.login-container button[type="submit"] {
  width: 100%;
  padding: 16px;
  margin: 7px 0;
  font-size: 16px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button[type="submit"]:hover {
  background-color: #12229d;
}

.login-container .forgot-password {
  text-decoration: none;
  color: #1877f2;
  font-size: 15px;
}

.login-container .toggle-button {
  cursor: pointer;
}

.get-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.get-app-title {
  font-size: 16px;
  color: gray;
}

.get-app .apps {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.microsoft-logo {
  width: 110px;
}

.google-play-logo {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .login-container form {
    padding: 0 10%;
  }
  .right .google {
    margin: 3% 10%;
    padding: 10px 0;
  }
}

@media screen and (max-width: 450px) {
  .login-container form input {
    width: 90% !important;
  }

  .login-container form input[type="checkbox"] {
    width: unset;
  }
}
