.login-container {
  font-family: "ABeeZee";
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20%;
  align-items: center;
}

.login-container input.common-input {
  width: 100%;
  padding: 12px;
  margin: 5px 0 10px;
  border-radius: 6px;
  font-size: 16px;
  border: 2px solid #d8d8d8;
  outline: none;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .login-container form {
    padding: 0 10%;
  }

  .login-container form input.common-input {
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  .login-container form input.common-input {
    width: 100% !important;
  }
}

.login-container .back_to_sign_in{
  text-decoration: none;
  color: #1877f2;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;

}

.login-container .forgot_btn {
  width: 95.6%;
  padding: 12px;
  margin: 7px 0;
  align-items: center;
  font-size: 16px;
  background-color: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-container .forgot_btn:hover {
  background-color: #12229d;
}

.login-container .forgot_text{
  text-align: justify;
  margin-bottom: 16px;
  font-size: 14px;

}
